doctype html
html(lang="ru")
    head
        title= "Main Page"
        //-Required meta tags
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    body
        header
        main
        footer
        script(src="scripts/task_1.js")
        script(src="scripts/task_2.js")
        script(src="scripts/task_3.js")
        script(src="scripts/task_4.js")
        script(src="scripts/task_5.js")
        script(src="scripts/task_6.js")
        script(src="scripts/task_8.js")


